{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>{{name}}</h2> --}}

{{!-- {{#each values}}
<h3>{{@index}}.{{this}}</h3>

{{/each}} --}}

{{!-- <h1>{{person.comments.comment}}</h1> --}}

{{!-- {{#if person.admin}}
<h1>this is admin</h1>
{{else}}
<h1>this is normal user</h1>
{{/if}} --}}

{{#with person}}
{{#with comments}}
<h1>{{comment}}</h1>
<h1>{{email}}</h1>
{{/with}}
{{/with}}